@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}
html,
body,
#root {

  overflow-x: hidden;

  width: 100%;

}
.page-container {

  padding-top: 90px;

}